<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">[NPC]Beginner Merchant</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7">
      <p
        class="text-center mt-5"
        style="color: rgb(0, 0, 0); text-align: center"
      >
        Hello Adventurer, welcome to the town of Angular! Here you can explore
        all the exciting stuff like meeting weird monster, learning new spell,
        and discovering rare item. But first, you need some weapon/spell to
        accompany you along the way! I will give you
        <span style="color: #d29d07">1000 gold</span>, so choose your
        weapon/spell wisely~
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <app-cards></app-cards>
  </div>
</div>
